@model IEnumerable<HSESport_web_app_trial2.Models.Students>
@{
    ViewData["Title"] = "Список студентов секции";
    Layout = "_Layout_Teacher";
}

<h1>@ViewBag.SectionName</h1>

<!-- Сообщения об успехе или ошибке -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Email</th>
            <th>Посещения</th>
            <th>Добавить</th>
            <th>Удаление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in ViewBag.Students)
        {
            <tr>
                <td>@student.Surname</td>
                <td>@student.Name</td>
                <td>@student.SecondName</td>
                <td>@student.Email</td>
                <td>@student.AttendanceRate</td>
                <td>
                    <form asp-controller="Teacher" asp-action="AddAttendance" method="post">
                        <input type="hidden" name="userId" value="@ViewBag.UserId" />
                        <input type="hidden" name="studentId" value="@student.StudentId" />
                        <button type="submit" class="btn btn-success">Добавить посещение</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Teacher" asp-action="DeleteAttendance" method="post">
                        <input type="hidden" name="userId" value="@ViewBag.UserId" />
                        <input type="hidden" name="studentId" value="@student.StudentId" />
                        <button type="submit" class="btn btn-danger">Удалить посещение</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>