
@{
    ViewData["Title"] = "Информация о преподавателе";
    Layout = "_Layout_Teacher";

}
<h1>@ViewData["Title"]</h1>
<h4>Имя преподавателя</h4>
<p>@ViewBag.TeacherName</p>

<hr />
<h4>Фамилия преподавателя</h4>
<p>@ViewBag.TeacherSurname</p>

<hr />
<h4>Отчество преподавателя</h4>
<p>@ViewBag.TeacherSecondName</p>

<hr />
<h4>Адрес корпоративной почты преподавателя</h4>
<p>@ViewBag.TeacherEmail</p>
