@model HSESport_web_app_trial2.Models.Students

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentSecondName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentSecondName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAttendanceOnSportActivities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAttendanceOnSportActivities)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentIdentificator">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
