@model IEnumerable<HSESport_web_app_trial2.Models.Students>

@{
    ViewData["Title"] = "Таблица посещений";
}

<h1>Таблица с данными студентов</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceRate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
